body {
  background-color:#CCC;
}

#page {
  width:960px;
  margin:0px auto;
}

#header,
#board,
#footer {
  box-shadow:1px 1px 5px 0px black;
  background-color:white;
  border-radius:25px;
}

#header {
  height:100px;
}

#page-title {
  font-size:40px;
  line-height:100px;
  margin:0 0 0 20px;
  float:left;
}

#whos-turn {
  float:right;
  margin: 15px 20px 0px 0px;
  width:200px;
  border:1px solid black;
  padding:10px;
  height:50px;
  border-radius:25px;
  text-align:center;
  background-color:white;
}

#whos-turn.player-1 {
  background-color:black;
  color:white;
}

#whos-turn.player-2 {
  background-color:red;
  color:black;
}

#board {
  padding:80px 0px 20px 0px;
  margin-top:30px;
}

.test-page #board-table-wrapper {
  position:absolute;
  top:-2000px;
}

#board-table {
  margin:0px auto;
  border-collapse:collapse;
  position:relative;
  z-index:99;
}

#board-table td {
  height:50px;
  width:50px;
  padding:0;
  background-image:url(images/board-bg.png);
  cursor:pointer;
}

#board-table-wrapper {
  position:relative;
  margin:0px auto;
}

.checker {
  height:48px;
  width:48px;
  position:absolute;
  border-radius:25px;
}

.checker.player-1 {
  background-color:black;
}

.checker.player-2 {
  background-color:red;
}

#footer {
  height:100px;
}

#new-game {
  float:right;
  height:30px;
  margin:35px;
}

#player-scores {
  line-height:100px;
}

#player-1-score-wrapper {
  padding:0 30px;
  border-right:2px solid black;
}

#player-2-score-wrapper {
  padding:0 30px;
}

#message {
  display: inline;
  padding: 5px 30px;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  margin-left:100px;
}

#whos-turn-label {
  font-weight:bold;
}